[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "themes/loveit"]
	path = themes/loveit
	url = git@github.com:dillonzq/LoveIt.git
